<div class="ui items stackable cards eight column grid container">
    	<% @clubs.each do |club| %>
    			<div class="ui card">
		    		<div class="image">
		          		<%= image_tag("default.png") %>
		        	</div>		
		        	<div class="content">
		        		<%= link_to club.name, 
			        		{:controller => 'clubs', :action =>'one', :id=>"#{club.id}"},
		            		{:class=>"header"} 
	            		%>
			        </div>
		    	</div>
    	<% end %>
</div>
