<div class="ui items stackable cards eight column grid container">
    	<% @players.each do |player| %>
    			<div class="ui card">
		    		<div class="image">
		          		<%= image_tag("player.png") %>
		        	</div>		
		        	<div class="content">
		        		<a class="header"><%= player.name%></a>
			        </div>
		    	</div>
    	<% end %>
</div>
