 <div class="ui vertical stripe quote segment">
    <div class="ui text container">
      <h3 class="ui header">A != B</h3>
      <p>
        A is not B, there are a lot of misunderstood
      </p>
    </div>
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Court</h3>
          <img src="https://rubyonrails.org/images/rails-logo.svg"> 
            <b>Nan</b> <p>Chief Fun Officer Acme Toys</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="column">
          <h3>Scoring</h3>
            <img src="https://rubyonrails.org/images/rails-logo.svg"> 
            <b>Nan</b> <p>Chief Fun Officer Acme Toys</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="column">
          <h3>Players</h3>
            <img src="https://rubyonrails.org/images/rails-logo.svg"> 
            <b>Nan</b> <p>Chief Fun Officer Acme Toys</p>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
      </div>
    </div>
</div>