<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Phrase 01</h3>
          <p>Phrase 01 response</p>
          <h3 class="ui header">Phrase 02</h3>
          <p>Phrase 02 response</p>
          <h3 class="ui header">Phrase 03</h3>
          <p>Phrase 03 response</p>
        </div>
        <div class="six wide right floated column">
          <img src="https://rubyonrails.org/images/rails-logo.svg">
        </div>
      </div>
    </div>
 </div>