<div class="background">
	<div class="overlay">
		<div class="ui vertical masthead center aligned text segment">
		      <h1 class="ui inverted header">Foo-Ty</h1>
		      <h2 class="ui inverted header">Yet another football database existed on the internet</h2>
		</div>
	</div>
</div>