<div>
        <div class="ui menu large">
                <a href="#" class="header item">Foo-ty</a>
                <a href="/" class="<%= 'active' if params[:controller] == 'splash' %> item">Home</a>
                <a href="/clubs" class="<%= 'active' if params[:controller] == 'clubs' %> item">Clubs</a>
        </div>
</div>